body {
  background-color: #f4f2f0;
}

.product-page {
  background-color: #f4f2f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-box {
  border: 1px solid #ccc; /* Added border */
  border-radius: 20px; /* Added border radius */
  padding: 5px 10px; /* Added padding */
  display: flex;
  align-items: center;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
}

.search-box input::placeholder {
  color: #aaa;
}

.search-box input:focus::placeholder {
  color: transparent;
}

.search-box input[type="text"] {
  flex: 1;
}

.cart-button {
  padding: 5px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-select {
  margin-left: 10px;
  background-color: #fff;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body {
  background-color: #f4f2f0;
  margin: 0;
  padding: 0;
}

.product-page {
  background-color: #f4f2f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 432px;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  position: relative;
}

.card-header {
  position: absolute;
  top: 22px;
  left: 16px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  padding-left: 0.5cm;
}

.card-subtitle {
  position: absolute;
  top: 50px;
  left: 16px;
  font-size: 18px;
  color: #333;
  padding-left: 0.5cm;
}

.card-img {
  width: 229px;
  height: 229px;
  margin: auto;
  margin-top: 80px;
}

.card-details {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.add-to-cart-button {
  background-color: transparent;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.price {
  color: #d74339;
  font-size: 14px;
}

.add-to-cart-icon {
  background-color: #d74339;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
