.full-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inventory-page {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardd {
  width: 968px;
  height: 441px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-filter input[type="text"] {
  width: 60%;
  height: 36px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-filter select {
  width: 30%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inventorytable {
  width: 100%;
  border-collapse: collapse;
}

.inventorytable th{
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
  color: #B5B7C0;
}
.inventorytable td {
  padding: 10px;
  text-align: left; 
  border: none;
}

.inventorytable td img {
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 5px;
}

.inventorytable td span {
  display: inline-block; 
  vertical-align: middle; 
  margin-left: 5px;

}


.note-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.note-buttons button {
  padding: 30px 60px;
  border: none;
  border-radius: 5px;
  background-color: #C3817D;
  color: #fff;
  cursor: pointer;
}

.note-buttons button:last-child {
  background-color: #FF968F;
}
